SetEnv APPLICATION_ENV production

ExpiresActive On
ExpiresDefault "access plus 0 seconds"
#ExpiresByType text/html "access plus 0 seconds"
ExpiresByType text/css "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"

RewriteEngine On
RewriteBase /web/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(html|js|css|jpeg)$ index.php
